.cardContainer{
  display: flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
  cursor: pointer;
}

.cardImage{
  width: 72px !important;
  height: 120px;
  object-fit: cover !important;
  border-radius: 10%;
  margin: 10px;
}

.cardContent{
  padding-top: 10px !important;
}